.council-pic-info-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

.council-pic-info {
  border-radius: 15px;
  display: flex;
  margin: 5%;
}

.council-pic-info-txt {
  width: 50%;
  padding: 5%;
  text-align: justify;
  font-size: 1.5vw;
  flex: auto;
  line-height: 40px;
}

.council-pic-info-txt h1 {
  font-size: 4vw;
  padding-bottom: 2%;
  font-family: "Secular One", sans-serif;
}

.council-img {
  width: 50%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.HomePageCarousel {
  width: 40% !important;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.carousel-inner {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.upcomingEventContent{
  background-color: #D3F5F4;
  display: flex;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  width: 100% !important;
}
.upcomingEvent-sec{
  background-color: #D3F5F4;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-bottom: 20vh;
}

.upcomingEventContent img {
  width: 40vw;
  height: 30vw;
  padding:2%;
  border-radius: 10px;
  padding-top: 4%;
}

.magazineContent{
  display: flex;
  flex-direction: row;
}



.ourMag-Sec{
  background-color: #D3F5F4;
  margin-left:5% ;
  margin-right:5% ;
  border-radius: 10px;
  padding-top:1% ;
  padding-bottom:5% ;

}

@media (max-width: 550px)
{
  .upcomingEventContent img {
    width: 70vw;
    height: 50vw;
    padding: 0%;
  }
  .ec-h1{
      font-size:8vw !important ;
  }

.ourMag-Sec{
  background-color: #D3F5F4;
  margin-left:0% ;
  margin-right:0% ;
  border-radius: 10px;
}

}

@media screen and (max-width: 768px) {
  .council-pic-info {
    flex-direction: column;
    width: 75%;
  }

  .council-pic-info-txt {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 22px;
  }

  .council-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
  }
  .HomePageCarousel {
    width: 100% !important;
  }
  .carousel-inner {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
  }
}

@media screen and (max-width: 500px) {
  .council-pic-info-txt {
    font-size: 0.9rem;
  }

  .council-pic-info-txt h1 {
    font-size: 1.8rem;
  }
}
