@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

.aboutpage{
  height: fit-content;
}
  
.about-section{
  /* margin-top: 5%; */
  height: 30%;
  /* background: lightblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

  

.myCarousel{
  height: 300px;
}

  .about-content{
  
    height: 70%;
    width: 90%;
    margin : auto;
    margin-top: 5%;
    margin-bottom: 10%;
    /* background: blanchedalmond; */
    display: flex;
    border-radius: 10px;
  
  }
  
  .about-text{
    text-align: justify;
    padding: 4% ;
    
  }
  .about-img{
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    width: 50vh;
  }

  .content-p{
    font-size: 20px;
    font-family: 'Abhaya Libre', serif;
    font-weight: 900;
  }
  

  .card-deck{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
  }
  
  
  @media only screen and (max-width: 1300px){
    .content-p{
      font-size: 16px;
      /* color: brown; */
    }
  }
  
  @media only screen and (max-width: 1100px){
    
    .aboutpage{
      height: fit-content;
      
    }
    .white-container{ 
      width: 80%;
  
    }
    .about-section{
      height:17%;
      
    }
  
    .about-content{
      flex-direction: column;
      width: 90%;
      height: 70%;
      margin-top: 5%;
      justify-content: center;
      align-items: center;
      padding: 5%;
     
    }
    .about-img{
      border-radius:10px;
      width: 50vw;
      
    }
    .card-deck{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 5%;
  }
 
  
  }
  
@media only screen and (max-width: 850px){
  .about-section{
    height:16%;
  }
}

.ourMission-section{
  height: auto;
  /* background: rgb(230, 207, 173); */
  display: flex;
  align-items: center;
  justify-content: center;

}

/* .ourMission-bg{
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
} */
.ourMission-content{
  height: 70%;
  width: 90%;
  margin : auto;
  /* background: blanchedalmond; */
  /* display: flex; */
  border-radius: 10px;
  margin-bottom: 10%;
  padding-top:5%;
}

.ourMission-content-p{
    font-size: 20px;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    font-family: 'Abhaya Libre', serif;
}

.ourMissionCard{
    width: 250px !important;
    margin: 30px;
    text-align: center;
    /* height: 310px; */
}

@media only screen and (max-width: 500px) {

  .ourMissionCard {
    width: auto !important;
    height: fit-content;
  }
 
  .ourMission-content{

    margin-bottom: 10%;
  }
  .ourMission-content-p{
    font-size: 13px;
  }
  .about-p{
    font-size: 13px;
    }
  .card-text{
    font-size: 10px;
  }

  .testimonials-p{
    font-size: 10px !important
  }
  .studentName{
    font-size: 14px !important;
  }


  .myCarousel{
    height: 350px;
  }

}


.testimonials-content {
    height: auto;
    /* background: lightblue; */
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding:5%;
}

.testimonials-h{
  font-family: 'Secular One', sans-serif;
  font-weight: 700; 
}
