@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@200;400;600;700&display=swap");

/* Universal Style Begins*/

::selection,
.dropdown-item.active {
  color: #fff;
  background-color: rgb(41, 93, 141);
}

.content {
  margin: 2%;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

/* Navbar Style Begins */

.navbar {
  font-size: 100%;
  font-weight: 400;
  background-color: rgb(41, 93, 141);
}

.navbar-light .navbar-nav .nav-link {
  color: #add8e6;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: floralwhite;
}

.navbar-light .navbar-nav .nav-link.active {
  color: floralwhite;
  font-weight: 500;
}

.tgl-btn {
  margin-top: 8px;
  font-size: 110%;
}

/* Footer Style Begins */

footer {
  font-size: 120%;
  font-weight: 400;
}

footer svg {
  font-size: 150%;
}

/* Contact Page Style Begins */

.contact-btn,
.contact-btn:hover{
  border-color: #363537;
  color: #363537;
  font-weight: 800;
  background-color: #add8e6;
}

.contact-text {
  font-size: 16px;
  font-weight: 700;
}

.contact-list {
  list-style-type: none;
  font-size: 120%;
}

.contact-list-header {
  font-size: 160%;
  font-weight: 600;
}

.contact-form-card .card-header h3 {
  font-weight: 550;
}

.contact-form-card .form-label {
  font-weight: 800;
}

.contact-carousel {
  height: 80%;
  width: 100%;
}

/* .carousel-inner {
  position: relative;
  right: 10px;
} */

.carousel-indicators li {
  width: 20px;
  height: 20px;
  position: relative;
  top: 10px;
  border-radius: 50%;
}

/*CentreButtons */
.centerWorkBtn{
  text-align: center ;
  margin-top: 5px;
  text-overflow: ellipsis;
} 
/* Pre-Loader Style Begins */

.loaderBack {
  background: linear-gradient(
      to right bottom,
      #add8e6,
      #a4ebf3,
      #add8e6,
      #a4ebf3,
      #add8e6
    )
    no-repeat;
  height: 100vh;
}

/* 404 Page Style Begins */

.not-found-container {
  margin-bottom: 25%;
}

.not-found-header {
  font-size: 400%;
}

.not-found-text {
  font-size: 150%;
}

/* Universal Smaller Screens Style Begins */

/* @media (max-width: 768px) {
  
  /* Navbar Style Begins */
  
  /* .tgl-btn {
    margin-top: 5px;
    font-size: 100%;
    margin-inline: auto;
  } */

  /* Footer Style Begins */

  /* footer {
    font-size: 110%;
  } */

  /* Contact Style Begins */

 /* .contact-h1 {
    font-size: 220%;
  }

  .contact-text {
    font-size: 70%;
    font-weight: 700;
  }
  
  .contact-list-header {
    font-size: 160%;
    font-weight: 600;
  }

  .cont  act-list {
    font-size: 100%;
  }

  .carousel-inner {
    position: relative;
    left: 5px;
  }

  .carousel-indicators {
    position: relative;
    bottom: 8px;
  }

  .contact-form-card .card-header h3 {
    font-weight: 550;
  }

  .contact-carousel {
    height: 100%;
    width: 100%;
  }

   */

/* }  */

/* Home Component */
@font-face {
  font-family: "BATIK WORLDWIDE";
  src: local("BATIK WORLDWIDE"), url(../fonts/BATIKWORLDWIDE.otf);
}

.csi-vesit {
  text-align: center;
  font-family: "BATIK WORLDWIDE";
  font-size: 800%;
  margin-top: 13%;
  color: floralwhite;
}

.jumbotron {
  background-image: url("./back-img1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.counter {
  /* text-align: center;
  padding: 3rem;
  width: 100%; */
  background-color: #add8e6;
  margin: 40px 0;
  padding: 20px 0;
  width: 100%;
}
.counter-item{
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.counter .counter-item p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 18px;
}
.registrations {
  padding: 0 10%;
  height: 100%;
}

.poster {
  display: block;
  height: 100%;
  margin: auto;
}

/* .registration-buttons{
  border-color: #363537;
  background-color: #363537;
  font-weight: 800;
  color: #add8e6;
  margin: 90px 0 0 350px;
  width: 300px;
 
}

.registration-buttons:hover{
  border-color: #363537;
  background-color: #add8e6;
  color:  #363537;
} */

.registration-buttons{
  margin: auto;
  width: fit-content;
}

.registration-button,
.registration-button:hover{
  border-color: #363537;
  color: #363537;
  font-weight: 800;
  background-color: #add8e6;
  width: 300px;
  margin-right: 70px;
  margin-top: 13%;
}

/* .register-for-button{
  margin-top: 21%;
} */

.upcoming-event p{
  font-size: 1.5rem;
}

@media screen and (max-width:1024px)
{
  .upcoming-event p{
    font-size: 1rem;
  }
  .upcoming-event h5{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {

   .csi-vesit {
    font-size : 300%;
  }
  /* Navbar Style Begins */
  
  .tgl-btn {
    margin-top: 5px;
    font-size: 100%;
    margin-inline: auto;
  }

  /* Footer Style Begins */

  footer {
    font-size: 110%;
  }

  /* Contact Style Begins */

  .contact-h1 {
    font-size: 220%;
  }

  .contact-text {
    font-size: 70%;
    font-weight: 700;
  }
  
  .contact-list-header {
    font-size: 160%;
    font-weight: 600;
  }

  .contact-list {
    font-size: 100%;
  }

  .carousel-inner {
    position: relative;
    left: 5px;
  }

  .carousel-indicators {
    position: relative;
    bottom: 8px;
  }

  .contact-form-card .card-header h3 {
    font-weight: 550;
  }

  .contact-carousel {
    height: 100%;
    width: 100%;
  }

  /* Home page changes */
  .jumbotron {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 94%;
    margin: 0 auto 5% auto;
  }

  .council-pic-info {
    width: 95%;
    margin: 2.5%;
  }

  .counter {
    padding-right: 0;
  }

  .counter-item{
    font-size: 100%;
    text-align: center;
   
  }

  .registration-button {
    width: 150px;
    height: 50px;
    font-size: 0.8rem;
  }


  .centerWorkBtn{
    font-size: 0.7rem
  }
  .upcoming-event p{
    font-size: 0.6rem;
  }
  .upcoming-event h5{
    font-size: 0.6rem;
  }
}

@media screen and (max-width:426px)
{
  .upcoming-event p{
    font-size: 0.8rem;
  }
  .upcoming-event h5{
    font-size: 0.8rem;
  }

  .registration-button,
.registration-button:hover{
  margin-right: 0px;
  width:200px;
 }
 .counter-item{
   margin-top: 15px;
 }
}




/* testimonials */

.testimonialsBody{
  background-color: #ADD8E6;
  
}

.studentName {
margin-top: 10px;
}
.carousel-root {
width: 64% !important;
margin: auto !important;
margin-top: 3% !important;
}

.carousel .slide {
background: #fff !important;
color: black;
height: 100%;
}

.carousel .slide img {
width: 139px !important;
border-radius: 50%;
}

.myCarousel {
background: #fafafa;
margin-top: -6%;
width: 80%;
margin-left: auto;
margin-right: auto;
padding-top: 6%;
padding-bottom: 8%;
padding-left: 5%;
padding-right: 5%;
border: 1px solid #ddd;
height: 250px;
border-radius: 25px;
}

.carousel .control-dots {
padding-left: 5px !important;
outline: 0;
bottom: 5% !important;
}

.myCarousel h3 {
color: #222;
font-weight: 100;
letter-spacing: 0.2px;
margin-bottom: 4px;
font-weight: 600;
text-transform: uppercase;
font-size: 17px;
}

.myCarousel h4 {
text-transform: uppercase;
margin-top: 0;
padding-top: 0;
font-weight: 500;
color: #787878;
font-size: 14px;
}

.myCarousel p {
font-weight: 100 !important;
line-height: 29px !important;
color: #222;
font-size: 15px;
font-family: sans-serif;
max-height: 67px;
}

.myCarousel p:before {
content: "“";
color: #aaa;
font-size: 26px;
font-family: monospace;
font-weight: 100;
}

.myCarousel p:after {
content: "”";
color: #aaa;
font-size: 26px;
font-family: monospace;
font-weight: 100;
line-height: 0;
}

.carousel .control-dots .dot {
box-shadow: none !important;
background: #454545 !important;
outline: 0;
}

.carousel.carousel-slider .control-arrow {
background: #000 !important;
height: 50px !important;
position: absolute;
top: 35% !important;
}

.App {
text-align: center;
}

@media only screen and (max-width: 934px) {
.carousel-root {
  outline: 0;
  width: 93% !important;
  margin: auto !important;
}

.carousel.carousel-slider .control-arrow {
  display: none !important;
}
.myCarousel {
  background: #fafafa;
  margin-top: -9%;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  padding-bottom: 12.5%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 269px;
}

.carousel .slide img {
  width: 24% !important;
  border-radius: 50%;
}
}




/* ABOUT PAGE CSS */
.about-mission{
  font-family: 'Lora', serif;
}
.aboutCSI{
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Noto Sans SC', sans-serif;
}





/* Council Card / Page
/* Cards styling */
/*
#team{
    justify-self: center;
    box-shadow: 5px 4px 8px 0 #add8e6;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
  }
  .center{
    text-align:center;
    margin-bottom: 100px;
  }
  
  .cardText{
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(22, 22, 21);
    font-size: larger;
    font-weight: 900;
  }
  @media (min-width: 400px){
  .card {    
    justify-content:left;
    height: auto;
    width: 160px;
    margin: 0px;
    margin-top: 55px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardImg{
    width: 95px;
    height: 95px;
    margin-top: -50px;
    border-radius: 50%;
  }
  }
  @media (min-width: 550px){
    .card {    
      justify-content:left;
      height: auto;
      width: 200px;
      margin: 30px;
      margin-top: 50px;
      margin-left:20%;;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .cardImg{
      width: 160px;
      height: 160px;
      margin-top: -50px;
      border-radius: 50%;
  
    }
  }
  @media (min-width: 786px){
    .card {    
      justify-content:left;
      height: auto;
      width: 245px;
      margin: 50px;
      margin-top: 30px;
      margin-left: 20%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .cardImg{
      width: 180px;
      height: 180px;
      margin-top: -50px;
      border-radius: 50%;
  
    }
  }
  
  @media (min-width: 1200px){
    .card {    
      justify-content:left;
      height: auto;
      width: 280px;
      margin: 30px;
      margin-top: 50px;
      margin-left: 30px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .cardImg{
      width: 200px;
      height: 200px;
      margin-top: -50px;
      border-radius: 50%;
  
    }
  }
*/

/* COUNCIL CARD STYLING */
/*.councilButton {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--light);
  width: 50px;
  height: 15%;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin-bottom: 15px;
  
  
}

.councilButton:hover {
  background-image: linear-gradient(
    145deg,
    transparent 10%,
    var(--dark) 10% 20%,
    transparent 20% 30%,
    var(--dark) 30% 40%,
    transparent 40% 50%,
    var(--dark) 50% 60%,
    transparent 60% 70%,
    var(--dark) 70% 80%,
    transparent 80% 90%,
    var(--dark) 90% 100%
  );
  animation: background 3s linear infinite;
} */

@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }

}




