@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@200;400;600;700&display=swap");

/* Universal Style Begins*/

::selection,
.dropdown-item.active {
  color: #fff;
  background-color: rgb(41, 93, 141);
}

.content {
  margin: 2%;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

/* Navbar Style Begins */

.navbar {
  font-size: 120%;
  font-weight: 500;
  background-color: rgb(41, 93, 141);
}

.navbar-light .navbar-nav .nav-link {
  color: #add8e6;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: floralwhite;
}

.navbar-light .navbar-nav .nav-link.active {
  color: floralwhite;
  font-weight: bolder;
}

/* Footer Style Begins */

footer {
  font-size: 120%;
  font-weight: 400;
}

footer svg {
  font-size: 150%;
}

/* Contact Page Style Begins */

.contact-btn,
.contact-btn:hover{
  border-color: #363537;
  color: #363537;
  font-weight: 800;
  background-color: #add8e6;
}

.contact-text {
  font-size: x-small;
}

.contact-text {
  font-size: 80%;
  font-weight: 700;
}

.contact-list {
  list-style-type: none;
  font-size: 120%;
  margin-left: 10%;
}

.contact-list-header {
  font-size: 160%;
  font-weight: 600;
}

.contact-form-card .card-header h3 {
  font-weight: 550;
}

.contact-form-card .form-label {
  font-weight: 800;
}

.contact-carousel {
  height: 80%;
  width: 100%;
}

/* Pre-Loader Style Begins */

.loaderBack {
  background: linear-gradient(
      to right bottom,
      #add8e6,
      #a4ebf3,
      #add8e6,
      #a4ebf3,
      #add8e6
    )
    no-repeat;
  height: 100vh;
}

/* 404 Page Style Begins */

.not-found-container {
  margin-bottom: 25%;
}

.not-found-header {
  font-size: 400%;
}

.not-found-text {
  font-size: 150%;
}

/* Universal Smaller Screens Style Begins */

@media (max-width: 768px) {
  
  /* Navbar Style Begins */
  
  .tgl-btn {
    margin-top: 2%;
  }

  /* Footer Style Begins */

  footer {
    font-size: 110%;
  }

  /* Contact Style Begins */

  .contact-h1 {
    font-size: 220%;
  }

  .contact-text {
    font-size: 70%;
    font-weight: 700;
  }
  
  .contact-list-header {
    font-size: 160%;
    font-weight: 600;
  }

  .contact-list {
    font-size: 120%;
  }

  .contact-form-card .card-header h3 {
    font-weight: 550;
  }
  .contact-carousel {
    height: 100%;
    width: 100%;
  }
}

/* Home Component */
@font-face {
  font-family: "BATIK WORLDWIDE";
  src: local("BATIK WORLDWIDE"), url(../fonts/BATIKWORLDWIDE.otf);
}

.csi-vesit {
  text-align: center;
  font-family: "BATIK WORLDWIDE";
  font-size: 800%;
  margin-top: 13%;
  color: floralwhite;
}

.jumbotron {
  background-image: url("./back-img1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.counter {
  text-align: center;
  padding: 3rem;
  width: 100%;
}

.registrations {
  margin-top: 30px;
  width: 100%;
}

.poster {
  margin-left: 175px;
}

.registration-buttons{
  border-color: #363537;
  background-color: #363537;
  font-weight: 800;
  color: #add8e6;
  margin: 90px 0 0 350px;
  width: 300px;
}
.registration-buttons:hover{
  border-color: #363537;
  background-color: #add8e6;
  color:  #363537;
}

@media screen and (max-width: 576px) {
  .jumbotron {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 94%;
    margin: 0 auto 5% auto;
  }

  .council-pic-info {
    width: 95%;
    margin: 2.5%;
  }

  .counter {
    padding-right: 0;
  }

  .counter-item h3 {
    font-size: 100%;
    text-align: center;
  }

  .poster {
    margin: 0 0 0 15px;
  }

  /* .registration-buttons {
    margin: 10% 0 0 8%;
    width: 40%;
    height: 50px;
    font-size: 0.8rem;
  } */
}

/*CentreButtons */
.centerWorkBtn{
  text-align: center ;
  margin-top: 5px;
}

/* Council Card / Page
/* Cards styling */
/*
#team{
    justify-self: center;
    box-shadow: 5px 4px 8px 0 #add8e6;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
  }
  .center{
    text-align:center;
    margin-bottom: 100px;
  }
  
  .cardText{
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(22, 22, 21);
    font-size: larger;
    font-weight: 900;
  }
  @media (min-width: 400px){
  .card {    
    justify-content:left;
    height: auto;
    width: 160px;
    margin: 0px;
    margin-top: 55px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardImg{
    width: 95px;
    height: 95px;
    margin-top: -50px;
    border-radius: 50%;
  }
  }
  @media (min-width: 550px){
    .card {    
      justify-content:left;
      height: auto;
      width: 200px;
      margin: 30px;
      margin-top: 50px;
      margin-left:20%;;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .cardImg{
      width: 160px;
      height: 160px;
      margin-top: -50px;
      border-radius: 50%;
  
    }
  }
  @media (min-width: 786px){
    .card {    
      justify-content:left;
      height: auto;
      width: 245px;
      margin: 50px;
      margin-top: 30px;
      margin-left: 20%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .cardImg{
      width: 180px;
      height: 180px;
      margin-top: -50px;
      border-radius: 50%;
  
    }
  }
  
  @media (min-width: 1200px){
    .card {    
      justify-content:left;
      height: auto;
      width: 280px;
      margin: 30px;
      margin-top: 50px;
      margin-left: 30px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .cardImg{
      width: 200px;
      height: 200px;
      margin-top: -50px;
      border-radius: 50%;
  
    }
  }
*/