@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@200;400;600;700&display=swap');

::selection {
    color: #363537;
    background-color: lightblue;
}

.content {
    margin: 2%;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    font-size: 120%;
    font-weight: 500;
    background-color: lightblue;
}

.dropdown-menu {
    background-color: lightblue;
}

.dropdown-item.active {
    color: #363537;
    background-color: lightblue;
}

.dropdown-item:hover {
    background-color: floralwhite;
}

.contact-btn, .contact-btn:hover {
    border-color: #363537;
    color: #363537;
    background-color: lightblue;
}

@media(max-width: 768px) {
    .tgl-btn {
        margin-top: 2%;
    }
}